footer 
  script(src="./src/app/App.js") 
  div(class="footer-site-info")
    ul
      li
        p
          i
            a(href="./pages/templates/views/index") Home
      li
        p
          i
            a(href="./pages/templates/views/explorer") Adventure
      li
        p
          i
            a(href="./pages/templates/views/editor") Hemingway-ify
      li
        p
          i
            a(href="./pages/templates/views/about") About Us
      li
        p
          i
            a(href="./pages/templates/views/contacts") Contact Us
      li
        p
          i
            a(href="./pages/templates/views/socials") Our Socials
    p
      i Lucast.TV by Boy Bulbous 'Bemperor'
      i Copyright: 2022.