doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Hemingway-ify
  body
    h1 Hemingway-ify it
    h2
      i ... or, Davinci-ify it, it's your choice.

include includes/Footers.pug
  block footer-site-info